@page "/"
@using Microsoft.AspNetCore.Components.Web
@namespace Cumdumps.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Cumdumps.styles.css" />
    <link rel="stylesheet" href="https://bs.cdn13.net/npm/bootswatch/dist/united/bootstrap.min.css" integrity="TM/9zn7ZKkZSd9cY0O8SqQXcFbxm/+8wHx0h05wKMXXK80IMbbceDMPAgGEIv8D7"/>
    <link rel="stylesheet" href="https://bs.cdn13.net/npm/bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="https://fa.cdn13.net/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="https://content.cdn13.net/Blazor.Bootstrap/blazor.bootstrap.css" />
    <link rel="icon" type="image/png" href="img/icon.png" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
