@namespace Cumdumps.Server.Components.Pages
@page "/"

<PageTitle>Welcum to Cumdum.ps!</PageTitle>
<SectionContent SectionName="Title">Welcum!</SectionContent>

<h1>Welcum to Cumdum.ps!</h1>

Hi! Welcum to Cumdum.ps, your source for cumdump info!

<div class="center-block">
  <img src="/img/icon.png" alt="Cumdum.ps" />
</div>
