@namespace Short.IO.Web.Server.Components
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Short.IO.Web.Server.styles.css" />
    <link rel="stylesheet" href="https://bs.cdn13.net/npm/bootswatch/dist/simplex/bootstrap.min.css" integrity="TM/9zn7ZKkZSd9cY0O8SqQXcFbxm/+8wHx0h05wKMXXK80IMbbceDMPAgGEIv8D7">
    <link rel="stylesheet" href="https://fa.cdn13.net/releases/v5.15.4/css/all.css">
    <link rel="stylesheet" href="https://content.cdn13.net/Blazor.Bootstrap/blazor.bootstrap.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <!-- inside of body section and after the div/app tag  -->
    <!-- These are the standard js dependencies this provider tipically dependes upon, but Blazorise deems these as optional as Blazorise Components should work correctly without these  -->
    <script src="https://bs.cdn13.net/npm/jquery/dist/jquery.slim.min.js" crossorigin="anonymous"></script>
    <script src="https://bs.cdn13.net/npm/popper.js/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://bs.cdn13.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>

    <!-- Add chart.js reference if chart components are used in your application. -->
    <script src="https://cf.cdn13.net/ajax/libs/Chart.js/4.0.1/chart.umd.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Add chartjs-plugin-datalabels.min.js reference if chart components with data label feature is used in your application. -->
    <script src="https://cf.cdn13.net/ajax/libs/chartjs-plugin-datalabels/2.2.0/chartjs-plugin-datalabels.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://content.cdn13.net/Blazor.Bootstrap/blazor.bootstrap.js"></script>
    @* <script src="https://cdn.MyGayCard.gay/BlazorStrap/blazorstrap.js"></script>
    <script src="https://cdn.MyGayCard.gay/Radzen.Blazor/Radzen.Blazor.js"></script>
    <script src="https://cdn.MyGayCard.gay/fontawesome.js" crossorigin="anonymous"></script> *@
    <script src="app.js"></script>
</body>

</html>
