<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Short.IO.Web.Server.styles.css" />
    <link rel="stylesheet" href="https://bs.cdn13.net/npm/bootswatch@5.3.3/dist/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="https://fa.cdn13.net/releases/v5.15.4/css/all.css">
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
