@namespace Short.IO.Web.Server.Components

<AuthorizeView>
  <Authorized>
    Welcum, @context.User.Identity.Name!
    <a role="button" class="btn btn-primary mx-1" href="/my-profile"><Icon Name="IconName.PersonVCardFill" /><span class="only-if-fullsize-screen"> Edit my profile</span></a>
    <a role="button" class="btn btn-secondary mx-1" href="/logout"><Icon Name="IconName.PersonDashFill" /><span class="only-if-fullsize-screen"> Log out</span></a>
  </Authorized>
  <NotAuthorized>
    <a role="button" class="btn btn-primary mx-1" href="/login"><Icon Name="IconName.PersonPlusFill" /><span class="only-if-fullsize-screen"> Sign in/Sign up</span></a>
  </NotAuthorized>
</AuthorizeView>
